<!DOCTYPE html>
<html>
<head>
	<title>Angular Drum Machine</title>
	<link rel="stylesheet" type="text/css" href="public/stylesheets/reset.css">
	<link rel="stylesheet" type="text/css" href="public/stylesheets/style.css">
	<script src="bower_components/jquery/dist/jquery.min.js"></script>
	<script src="bower_components/angular/angular.js"></script>
    <script src="app.js"></script>
</head>
<body>
	<div class="drum-machine" ng-app="drumMachine" ng-controller="drumCtrl as $ctrl">
		<div class="instrumentsOnDeck">
			<div class="controls">
				<img class="navButton" ng-src="public/images/icons/{{$ctrl.playOrPause}}" ng-click="$ctrl.toggleSong()">
				<img class="navButton" ng-src="public/images/icons/stop.svg" ng-click="$ctrl.stopSong()">
				<div class="resetButton" ng-click="$ctrl.reset()">
					<h2 class="label">RESET</h2>
				</div>
				<div class="tempo-container">
					<h2 class="label">TEMPO</h2>
					<input class="bpm-input" type="number" ng-model="$ctrl.bpm">
				</div>
			</div>
			<h1 class="app-name">DRUM MACHINE</h1>
		</div>
		<div class="instrumentsInPlay">
			<div class="light-bar">
				<div ng-repeat="beat in $ctrl.beats" class="light" ng-class="{'quaver' : beat.quaver, 'playing' : beat.playing}"></div>
			</div>
			<div class="instrument-container" ng-repeat="instrument in $ctrl.instruments">
				<div class="instrument-name">{{instrument.name}}</div>
				<div class="dot-container">
					<div ng-repeat="note in instrument.notes track by $index"
					ng-class="{'note-on' : note.value, 'note-off' : !(note-value), 'quaver' : note.quaver}"
					ng-click="$ctrl.noteOn(note)"></div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>