* {
	font-family: "Helvetica", sans-serif;
}

.drum-machine {
	width: 1000px;
	margin: 20px auto;
	display: flex;
	background-color: #CCC;
	border-radius: 8px;
}

.instrumentsOnDeck {
	width: 10%;
	position: relative;
	/*display: flex;
	align-items: flex-start;*/
}

.controls {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: flex-start;
}

.instrumentsInPlay {
	width: 90%;
	margin-right: 8px;
}

.navButton {
	height: 80px;
	width: 80px;
	border-radius: 10px;
	border: solid 2px #000;
	margin: 10px;
	background-color: #DDD;
	cursor: pointer;
}

.navButton:hover {
	background-color: #EEE;
}

.resetButton {
	height: 50px;
	width: 80px;
	font-size: 20px;
	border-radius: 10px;
	border: solid 2px #000;
	background-color: #ddd;
	margin: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.resetButton:hover {
	background-color: #eee;
}

.tempo-container {
	height: 50px;
	width: 80px;
	margin: 10px;
	display: flex;
	flex-direction: column;
}

.label {
	font-size: 16px;
	margin: 0;
	display: block;
}

.bpm-input {
	width: 50px;
	margin: 3px;
	font-size: 20px;
	border-radius: 8px;
}

.app-name {
	transform: rotate(270deg);
	transform-origin: left bottom 0;
	position: absolute;
	bottom: 0;
	margin-left: 90px;
	margin-bottom: 10px;
	font-size: 40px;
	/*align-self: flex-end;*/
}

.light-bar {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
}

.light {
	display: inline-block;
	margin: 14px;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	background: radial-gradient(#800, #D77);
}

.playing {
	background: #F00;
	-webkit-box-shadow: 0px 0px 3px 3px rgba(255,170,170,1);
	-moz-box-shadow: 0px 0px 3px 3px rgba(255,170,170,1);
	box-shadow: 0px 0px 3px 3px rgba(255,170,170,1);
}

.instrument-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 16px 0;
	border-radius: 6px;
	border: solid 1px #000;
	background-color: #DDD;
}

.instrument-name {
	margin-left: 15px;
}

.dot-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.instrument-name {
	display: inline-block;
}

.note {
	display: inline-block;
	margin: 12px;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	cursor: pointer;
}

.note-off {
	background: radial-gradient(#aaa, #bbb);
	border: 2px solid #333;
	-webkit-box-shadow: 0px 3px 0px 0px #222,
				1px 2px 3px 1px rgba(0,0,0,.2),
				2px 2px 2px 2px rgba(200,200,200,.4) inset;
	-moz-box-shadow: 0px 3px 0px 0px #222,
				1px 2px 3px 1px rgba(0,0,0,.2),
				2px 2px 2px 2px rgba(200,200,200,.4) inset;
	box-shadow: 1px 3px 0px 0px #222,
				1px 2px 3px 1px rgba(0,0,0,.2),
				2px 2px 2px 2px rgba(200,200,200,.4) inset;
	transform: translateY(-3px);
}

/*.note-off:hover {
	background-color: #444;
}*/

.note-on {
	background: #fff;
	border: 2px solid #000;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	transform: translateY(0px);
}

h2 {
	display: inline-block;
}

.quaver {
	height: 25px;
	width: 25px;
}